
.my-bg-green{
    background-color: #1ABC9C;
}

.top-footer{
    background-color:#3A546D;
}
.bottom-footer{
    background-color: #2C3E50;
}
.my-img{
    border-radius: 20px;
}
.my-text-green{
    color: #1ABC9C;
}
.circle{
    width: 30px;
    height: 30px;
    position: relative;
    border: solid 1px white;
}

.top-footer i{
    width: 50px;
    height: 50px;
    border: solid 1px white;
    padding: 3px;
    border-radius: 50%;
    margin: 5px;
}

.my-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
   border-radius: 0;
}