
.my-bg-green{
    background-color: #1ABC9C;
}
#hero img{
    width: 250px;
}

.my-star::after, .my-star::before{
    content: '';
    display: block;
    width: 15%;
    background-color: white;
    height: 3px;
    margin: 5px 10px;
}

 #contact-me .my-star::after,
 #contact-me .my-star::before{
background-color: black;
}

#portfolio .my-star::after,
 #portfolio .my-star::before{
background-color: black;
}
.top-footer{
    background-color:#3A546D;
}
.bottom-footer{
    background-color: #2C3E50;
}
.my-img{
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}


.my-text-green{
    color: #1ABC9C;
}
.circle{
    width: 30px;
    height: 30px;
    position: relative;
    border: solid 1px white;
}

.top-footer i{
    width: 50px;
    height: 50px;
    border: solid 1px white;
    padding: 3px;
    border-radius: 50%;
    margin: 5px;
}

.my-input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
   border-radius: 0;
}